/node_modules
/vendor
.env
.DS_Store
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*
!.gitignore
/public/hot
/public/storage
/public/vendor
.bootstrap.php.cache
.php_cs.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
